<h1>Tell me pravesh what you want to do?</h1>
<ul class="list-none flex flex-row justify-center space-x-8 px-2 py-4">
    <li class="flex px-4 items-center">
        <a href="{% url 'add_experience' %}" class="text-2xl font-serif font-semibold text-blue-400 hover:text-blue-300 hover:underline text-shadow-md">Add New experience</a>
    </li>
    <li class="flex px-4 items-center">
        <a href="{% url 'edit_project' %}" class="text-2xl font-serif font-semibold text-blue-400 hover:text-blue-300 hover:underline text-shadow-md">Add New Project</a>
    </li>
    <li class="flex px-4 items-center">
        <a href="{% url 'add_certificate' %}" class="text-2xl font-serif font-semibold text-blue-400 hover:text-blue-300 hover:underline text-shadow-md">Add New Certificate</a>
    </li>
</ul>